<header>
    <nav class="header-nav">
      <a class="header-title" href="/">Notes</a>
      <ul>
        <li><a href="/notes">Notes</a></li>
        <li><a href="/notes/new">Add Notes</a></li>
      </ul>
    </nav>
  </header>